.main{
    height:100vh;

    .mask, .body{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #10100f;
        font-size: 64px;
        line-height: 66px;
        cursor:default;
        

        span{
            color: #ec4e39;
        }
        p{
            width: 1000px;
        }
    }
    
    .mask{
        position:absolute;
        mask-image: url('./mask.svg');
        background-color: #ec4e39;
        mask-repeat: no-repeat;
        mask-position: 50%;
        color: black;

    }
}