.button{
    position: fixed;
    right: 0;
    margin: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ec4e39;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 100;

    .burger{
        width: 100%;
        &::after , &::before{
            content: "";
            display: block;
            width: 60%;
            background-color: aliceblue;
            height: 2px;
            margin: auto;
            position: relative;
        }

        &::after{
            top: 5px;
        }
        &::before{
            top: -5px;
        }
    }

    .burgerActive{
        &::after{
            transform: rotate(-45deg);
            top: -1px;
        }
        &::before{
            top: 1px;
            transform: rotate(45deg);
        }
    }
}