 .menu{
    position:fixed;
    right:0;
    height: 100vh;
    // background-color: rgb(29, 27, 27);
    background-color: #334155;
    z-index: 99;

    .body{
        padding: 100px;
        justify-content: space-between;
        display: flex;

        .nav{
            display: flex;
            flex-direction: column;
            font-size:  56px;
            gap: 12px;
            margin-top:80px;
            
            .header{
                color: rgb(153,153 , 153);
                border-bottom: 1px solid rgb(153, 153, 153);
                text-transform: uppercase;
                font-size: 11px;
                margin-bottom:40px;

            }
            a{
                color:white;
                font-weight: 300;
            }
        }
    }
 }